[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=textroom
Type=Application
Categories=Application;Office
Terminal=false
Icon=textroom
Comment=Fullscreen text editor
Exec=textroom
GenericName=
Name[tr_TR]=textroom
